language: python

python: 3.7

services:
  - mongodb

before_install:
  - pip install codecov
  - pip install pipenv

# Install the codecov pip dependency
install:
  - pipenv install
  - pipenv install --dev

before_script:
  - export PYTHONPATH=$PYTHONPATH:$PWD/services
  - sleep 15
  - mongo flaskdb --eval 'db.createUser({user:"apiuser", pwd:"sample",roles:["readWrite"]});'
  - python services/api/loader/csv_to_mongo.py --file services/api/tests/api/fake_houses.csv

# Run the unit test
script:
  - make lint
  - make test
  - coverage run --source=services -m pytest

# Push the results back to codecov
after_success:
  - codecov
