[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pylint = "==2.6.0"
autopep8 = "==1.5.1"
mypy = "==0.812"
pre-commit = "==2.9.2"
black = "==19.3b0"
pytest-cov = "==2.10.1"
pytest = "==6.1.2"
commitizen = "==2.17.8"
isort = "==5.8.0"
coveralls = "==3.1.0"

[packages]
loguru = "==0.4.1"
requests = "==2.23.0"
selenium = "==3.141.0"
beautifulsoup4 = "==4.9.3"
pytesseract = "==0.3.7"
pandas = "==1.2.4"
requests-html = "==0.10.0"
pillow = "==8.2.0"
joblib = "==1.0.1"
mongoengine = "==0.23.1"
flask = "==2.0.1"
flask-mongoengine = "==1.0.0"
flask-restful = "==0.3.9"
flask-migrate = "==2.5.2"
python-dotenv = "==0.13.0"
Werkzeug = "==2.0.1"
wheel = "==0.36.2"
elasticsearch = "==7.13.1"
elastic-apm = {extras = ["flask"], version = "==6.2.2"}
psutil = "==5.8.0"

[requires]
python_version = "3.9"
