[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pylint = "==2.4.4"
autopep8 = "==1.5.1"
mypy = "==0.812"
pre-commit = "==2.3.0"
black = "==19.3b0"
pytest-cov = "==2.10.1"
pytest = "==6.1.2"
commitizen = "*"

[packages]
loguru = "==0.4.1"
requests = "==2.23.0"
selenium = "*"
beautifulsoup4 = "*"
pytesseract = "*"
pandas = "*"

[requires]
python_version = "3.9"
